{% extends 'main.html' %}
{% block title %}<title>Восстановление пароля</title>{% endblock %}
{% block description %}<meta name="description" content="Восстановление пароля." />{% endblock %}
{% block keywords %}
<meta name="keywords" content="восстановление пароля" />
{% endblock %}
{% block content %}
<div id="order">
    <h2>Восстановление пароля</h2>
    <form name="reset" action="" method="post">
        {% csrf_token %}
        {% if form.errors %}
            <p>Некорректный ввод!</p>
        {% endif %}
        <table>
            <tr>
                <td>{{ username }}Адрес электронной почты:</td>
                <td>{{ form.email }}</td>
            </tr>
        </table>
        <input type="submit" value="Восстановить пароль" />
    </form>
</div>
{% endblock %}