{% extends 'main.html' %}
{% block title %}<title>Смена пароля</title>{% endblock %}
{% block description %}<meta name="description" content="Смена пароля." />{% endblock %}
{% block keywords %}
<meta name="keywords" content="Смена пароля" />
{% endblock %}
{% block content %}
    {% if validlink %}
        <div id="order">
            <h2>Введите новый пароль</h2>
            <form name="reset" action="" method="post">
                {% csrf_token %}
                {% if form.errors %}
                    <p>{{ form.new_password1.errors }}</p>
                    <p>{{ form.new_password2.errors }}</p>
                {% endif %}
                <table>
                    <tr>
                        <td>{{ form.new_password1.label }}:</td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password2.label }}:</td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                </table>
                <input type="submit" value="Изменить пароль" />
            </form>
        </div>
    {% else %}
        <div id="article">
            <h2>Ошибка при восстановлении пароля</h2>
            <p>Некорректная ссылка!</p>
        </div>
    {% endif %}
{% endblock %}