{% extends 'main.html' %}
{% block title %}<title>Ваш заказ принят</title>{% endblock %}
{% block description %}<meta name="description" content="Ваша заказ принят." />{% endblock %}
{% block keywords %}
<meta name="keywords" content="заказ принят, заказ принят оплатить, заказ принят звонок" />
{% endblock %}
{% block content %}
    <div id="message">
        <h2>Ваш заказ принят!</h2>
        <p>Дождитесь звонка менеджера для подтверждения заказа.</p>
        <p>P.S. Если вы впервые на нашем сайте, пожалуйста, проверьте свою электронную почту. Мы выслали вам логин и пароль для входа в ваш личный кабинет :)</p>
        <p>Если письма нет, пожалуйста, проверьте папку "спам"</p>
    </div>
{% endblock %}