{% extends 'main.html' %}
{% block title %}<title>ОПЛАТА И ДОСТАВКА</title>{% endblock %}
{% block description %}<meta name="description" content="Оплата и доставка" />{% endblock %}
{% block keywords %}
    <meta name="keywords" content="оплата, доставка, оплата доставка магазин" />
{% endblock %}
{% block content %}
{% load static %}
<div id="article">
    <h2>Оплата и доставка</h2>
    <input type="image" src="{% static 'images/auto.png' %} " width="85" align="center" vspace="5" hspace="5" >Доставка продуктов на дом, в офис или в любое другое удобное для вас место. У нас есть 2 варианта доставки:по указанному вами адресу и самовывоз по адресу: г. Красноярск, ул. Северное шоссе, 17д.
    <td>
    <p>Все продукты доставляются в специальных автомобилях, оборудованных современными холодильниками. Температура (от -18°C до +4°C) подбирается к каждой категории продуктов индивидуально. Вы получаете свежемороженые и охлажденные, а не перемороженные или растаявшие продукты. В некоторых случаях продукты могут доставляться в термокоробах с соблюдением необходимого температурного режима. </p>
    <p>Оплатить заказ можно наличными или картой при получении заказа.</p>
    <p>После оформления заказа на нашем сайте с вами свяжется наш менеджер для уточнения всех подробностей.</p>
    <h2> Время доставки</h2>
    <p>Заказы на сайте принимаются ежедневно и круглосуточно, без выходных. Служба доставки работает с понедельника по субботу включительно, время работы с 8:00 до 20:00</p>
</div>
        <td>
{% endblock %}