{% extends 'main.html' %}
{% block title %}<title>{{ product.title }}</title>{% endblock %}
{% block description %}
    <meta name="description" content="Описание и покупка продуктов {{ product.title }}." />
{% endblock %}
{% block keywords %}
    <meta name="keywords" content="описание продукт {{ product.title|lower }}, купить продукт {{ product.title|lower }}" />
{% endblock %}
{% block content %}
    <table id="hornav">
        <tr>
            {% load static %}
            <td>
                <a href="{% url 'index' %}">Главная</a>
            </td>
            <td>
                <img src="{% static 'images/hornav_arrow.png' %}" alt="" />
            </td>
            <td>
                <a href="{{ product.section.get_absolute_url }}">{{ product.section.title }}</a>
            </td>
            <td>
                <img src="{% static 'images/hornav_arrow.png' %}" alt="" />
            </td>
            <td>{{ product.title }}</td>
        </tr>
    </table>
    <table id="product">
        <tr>
            <td class="product_img">
                <img src="{{ product.image.url }}" alt="{{ product.title }}" />
            </td>
            <td class="product_desc">
                <p>Название: <span class="title">{{ product.title }}</span></p>
                <p>Вес (гр.): <span>{{ product.ves }}</span></p>
                <p>Срок годности (дн.): <span>{{ product.year }}</span></p>
                <p>Раздел: <span>{{ product.section.title }}</span></p>
                <p>Страна-производитель: <span>{{ product.country }}</span></p>
                {% if product.play %}
                    {% load my_filters %}
                    <p>Количетсво шт. в упаковке: <span>{{ product.play }}</span></p>
                {% endif %}
                <table>
                    <tr>
                        <td>
                            <p class="price">{{ product.price }} руб.</p>
                        </td>
                        <td>
                            <p>
                                <a class="link_cart" href="{{ request.path }}?add_cart={{ product.id }}"></a>
                            </p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p class="desc_title">Описание:</p>
                <p class="desc">{{ product.description|linebreaksbr }}</p>
            </td>
        </tr>
    </table>
    <div id="others">
        <h3>С этим товаром также заказывают:</h3>
        <table class="products">
            <tr>
                {% for other_product in products %}
                    {% include 'product.html' with product=other_product %}
                {% endfor %}
            </tr>
        </table>
    </div>
{% endblock %}